*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}/* Hides from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}
/* lanrenzhijia */
.lanrenzhijia{width:1250px;margin:10px auto 0 auto;overflow:hidden;}
.lanrenzhijia ul{width:1250px;}
.lanrenzhijia ul li{float:left;margin-right:6px;margin-bottom:10px;display:inline;width:300px;height:500px;overflow:hidden;position:relative;}
.lanrenzhijia ul li .photo{width:300px;height:500px;overflow:hidden;}
.lanrenzhijia .rsp{width:300px;height:500px;overflow:hidden;position: absolute;background:#000;top:0px;left:0px;}
.lanrenzhijia .text{position:absolute;width:300px;height:500px;left:-300px;top:0px;overflow:hidden;}
.lanrenzhijia .text h3{width:300px;margin-top:100px;height:50px;line-height:50px;text-align:center;color:#FFFFFF;font-size:20px;}
.lanrenzhijia .text a{text-decoration:none}
.lanrenzhijia .text div{text-align:center;color:#FFFFFF;font-size:18px;}
